# Normalización de archivos de texto
* text=auto eol=lf

# Archivos binarios
*.pkl binary
*.pickle binary
*.db binary
*.png binary
*.jpg binary
*.jpeg binary

# Forzar UTF-8
*.py text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
