# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/


# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/
*.code-workspace

# =========================
# Sistemas operativos
# =========================
# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# =========================
# Archivos grandes del proyecto
# =========================
# Datasets generados
data/raw/
data/processed/
*.csv
*.xlsx
*.xls
*.json
*.parquet
*.db
*.sqlite

# Modelos entrenados
*.h5
*.hdf5
*.pkl
*.joblib
*.bin

# Carpeta dataset si quieres ignorarla completa
# /dataset/

# =========================
# Logs y basura
# =========================
*.log
logs/
*.tmp
*.bak
