# Ignorar datasets grandes
*.tsv.gz
*.tsv

# PERMITIR el archivo optimizado
!clean-repo/optimized_data.pkl

# Ignorar otros PKL
*.pkl

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de logs
*.log
